@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');
html,body{
  height: 100%;
  font-family: 'Open Sans', 'Lato', sans-serif;
  background-color: mintcream;
}

header{
  text-align: center;
  vertical-align: middle;
  font-size: 1.4em;
  font-weight: bold;
  text-decoration: underline;
}

div#inputContainer{
  position: fixed;
  text-align: center;
  top: 0em;
  left: 0em;
  width: 40%;
  height: 100%;
  padding-top: 12% !important;
  padding: 0 2% 0% 2%;
  box-shadow: 2px 2px 4px 1px #ccc;
  background-color: white !important;
}

div#itemContainer{
  position: absolute;
  top: 0em;
  right: 0px;
  width: 50%;
  overflow-x: auto;
  overflow-y: scroll;
  padding: 1%;
}


input[type=button]{
  width: 25%;
  height: 1.9em;
  margin-left: 1.5%;
}

input[type=text]{
  text-align: center;
  width: 65%;
  height: 1.5em;
}

ul>li{
  list-style-type: decimal;
  font-size: 1.2em;
}

@media (max-width:900px) {
  div#inputContainer{
    position: relative;
    top: 0em;
    left: 0em;
    width: 95%;
    box-shadow: none;
    padding: none;
    margin: 0 0 8% 0;
  }

  div#itemContainer{
    width: 95%;
    max-height: 380px;
    overflow-x: auto;
    overflow-y: scroll;
    position: relative;
    padding: none;
    margin: none;
  }

}
